# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\MCAST\OneDrive - Malta College of Arts, Science & Technology\Computer Vision\IPCV DS Share\LECTURES\11. Classifiers\SVM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
